absl-py==2.3.1
altair==5.5.0
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
blinker==1.9.0
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cycler==0.12.1
decorator==5.2.1
ffmpeg==1.4
flatbuffers==25.2.10
fonttools==4.59.0
gast==0.4.0
gitdb==4.0.12
gitpython==3.1.45
google-auth==1.6.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
idna==3.10
importlib-metadata==8.7.0
jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
keras==2.11.0
kiwisolver==1.4.7
libclang==18.1.1
librosa==0.8.1
llvmlite==0.42.0
markdown==3.8.2
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.5.1
mdurl==0.1.2
narwhals==2.0.0
numba==0.59.0      # numba 버전을 0.59.0으로 올립니다.
numpy==1.26.4      # numpy 버전을 1.26.4로 올립니다. (numba 0.59.0과 pandas 2.0.3 모두 호환)
oauthlib==3.3.1
opt-einsum==3.4.0
packaging==25.0
pandas==2.0.3      # pandas는 유지
pillow==11.3.0
platformdirs==4.3.8
pooch==1.8.2
protobuf==3.20.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydeck==0.9.1
pygments==2.19.2
pympler==1.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.4
requests-oauthlib==2.0.0
resampy==0.4.3
rich==14.1.0
rpds-py==0.26.0
rsa==4.9.1
scikit-learn==1.0.2
scipy==1.10.1
semver==3.0.4
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
soundfile==0.10.3.post1
streamlit==1.26.0  # Streamlit도 1.26.0으로 명시
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.1
typing-extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
validators==0.35.0
watchdog==6.0.0
werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
zipp==3.23.0
